table{
  width: 100%;
}

md-toolbar{
  margin-bottom: 10px;
}

md-input{
  width: 100%;
  font-size: 20px;
  margin-top:20px;
}

button{
  float:right;
}

.error-input{
  color: #f33535;
}

#dpy-wdt-msg-erro-email{
  position: absolute;
}

share-button :hover{
  cursor: pointer;
}