.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.orange600 { color: #FB8C00; }

table{
  width: 100%;
}

md-toolbar{
  margin-bottom: 10px;
}

md-input{
  width: 100%;
  font-size: 30px;
  margin-top:20px;
}

button{
  float:right;
}

.send-icon{
  color: blue;
  font-size: 100px;
}
