<p>
  form-pre-cadastro works!
</p>

<md-card class="demo-card demo-basic">
  <md-toolbar color="primary">Dados do Responsável</md-toolbar>
  <md-card-content>
    <form>

      <table style="width: 100%" cellspacing="0">
        <tr>
          <td>
            <md-input class="demo-full-width" style="width:100%;" placeholder="Nome"></md-input>
          </td>
        </tr>
        <tr>
          <td>
            <md-input class="demo-full-width" style="width:100%;" placeholder="E-mail" maxlength="3"></md-input>
          </td>
        </tr>
        <tr>
          <td>
            <button md-raised-button md-tooltip="This is a tooltip!" style="float:right;">Enviar</button>
          </td>
        </tr>
      </table>

    </form>
  </md-card-content>
</md-card>