<p>
  <md-icon>perm_scan_wifi</md-icon>
  Projeto funcionando!
  <md-icon id="send-icon">send</md-icon>
</p>

<i class="material-icons md-48 orange600">location_on</i>

<p>
  form-pre-cadastro works!
</p>

<md-card class="demo-card demo-basic">
  <md-toolbar color="primary">Dados do Responsável</md-toolbar>
  <md-card-content>
    <form>

      <table style="width: 100%" cellspacing="0">
        <tr>
          <td>
            <md-input placeholder="Nome"></md-input>
          </td>
        </tr>
        <tr>
          <td>
            <md-input placeholder="E-mail"></md-input>
          </td>
        </tr>
        <tr>
          <td>
            <button md-raised-button md-tooltip="This is a tooltip!" style="float:right;">Enviar</button>
          </td>
        </tr>
      </table>

    </form>
  </md-card-content>
</md-card>